@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@400;700;900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-space-black text-white font-orbitron overflow-hidden;
  }
}